<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>AI Workshop</title>
</head>

<body>
    <h1>
        <div class="container">
            <div class="jumbotron">
                 <div class="row">
                <div class="cols 12">
                <h1 class="display-4">Saveetha Engineering College</h1>
                <h2 class="lead">The Department of Artificial intelligence</h2>
                <h3>One day workshop</h3>
                <hr class="my-4">
                <h4>The Department of Artificial intelligence is conducting an one day workshop on Impact of Artificial intelligence in future world....
                </h4>
                <h5>It is going to held on 15th march 2021 and starts at 10 AM.</h5>
                <h6>The students who want to participate can register by clicking the below button</h6>
                <p class="lead">
                    <a href="/register/" class="btn btn-primary btn-lg" role="button" >Register</a>                </p>
            </div>
           
                </div>
            </div>
        </div>
    </h1>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>